---
- name: Install hyprland packages
  community.general.pacman:
    name:
      - hyprland
      - uwsm
      - xdg-desktop-portal-hyprland
      - xdg-desktop-portal-gtk
      - xdg-user-dirs
      - polkit
      - hyprpolkitagent
      - gnome-keyring
      - libsecret
      - seahorse
      - nwg-look
      - qt5-wayland
      - qt6-wayland
      - qt5ct
      - qt6ct
      - pipewire
      - pipewire-alsa
      - pipewire-audio
      - pipewire-jack
      - pipewire-pulse
      - wireplumber
      - libnotify
      - swaync
      - udiskie
      - nwg-displays
      - waybar
      - fuzzel
      - brightnessctl
      - playerctl
      - network-manager-applet
      - blueman
      - nwg-dock-hyprland
      - hyprlock
      - hypridle
      - greetd
      - greetd-regreet
      - dolphin
      # wallpaper
      # file manager (dolphin?)
      # screenshots
      # clipboard
    state: present
  become: true
  when: ansible_facts['distribution'] == "Archlinux"

- name: Ensure hypr config directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.config/hypr"
    state: directory
    mode: u=rwx,g=rx,o=rx

- name: Set up hyprland.conf
  ansible.builtin.copy:
    src: hypr/hyprland.conf
    dest: "{{ ansible_facts.user_dir }}/.config/hypr/hyprland.conf"
    mode: u=rw,g=r,o=r

- name: Set up hypridle.conf
  ansible.builtin.copy:
    src: hypr/hypridle.conf
    dest: "{{ ansible_facts.user_dir }}/.config/hypr/hypridle.conf"
    mode: u=rw,g=r,o=r

- name: Enable hyprpolkitagent
  ansible.builtin.systemd_service:
    name: hyprpolkitagent
    enabled: true
    scope: user

- name: Enable swaync
  ansible.builtin.systemd_service:
    name: swaync
    enabled: true
    scope: user

- name: Enable hypridle
  ansible.builtin.systemd_service:
    name: hypridle
    enabled: true
    scope: user

- name: Enable waybar
  ansible.builtin.systemd_service:
    name: waybar
    enabled: true
    scope: user
