---
- name: Install docker packages
  community.general.pacman:
    name:
      - docker
      - docker-buildx
      - docker-compose
    state: present
  become: true
  when: ansible_facts['distribution'] == "Archlinux"

- name: Set up docker apt key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /usr/share/keyrings/docker-keyring.asc
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  become: true
  when: ansible_facts['distribution'] == "Ubuntu"

- name: Set up docker apt repository
  ansible.builtin.apt_repository:
    repo: "deb [arch={{ ansible_architecture }} signed-by=/usr/share/keyrings/docker-keyring.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    filename: docker
    state: present
  become: true
  when: ansible_facts['distribution'] == "Ubuntu"

- name: Ensure /etc/docker directory exists
  ansible.builtin.file:
    path: /etc/docker
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  become: true

- name: Set docker daemon.json file
  ansible.builtin.copy:
    src: daemon.json
    dest: /etc/docker/daemon.json
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  become: true

- name: Enable docker socket
  ansible.builtin.systemd_service:
    name: docker.socket
    enabled: true
    state: started
  become: true
  when: mode == "on-use"

- name: Enable docker service
  ansible.builtin.systemd_service:
    name: docker.service
    enabled: true
    state: started
  become: true
  when: mode == "on-boot"
